AUTH_DB_NAME=auth_db
AUTH_DB_USER=auth_user
AUTH_DB_PASSWORD=auth_password

USER_DB_NAME=user_db
USER_DB_USER=user_user
USER_DB_PASSWORD=user_password

ADMISSION_DB_NAME=admission_db
ADMISSION_DB_USER=admission_user
ADMISSION_DB_PASSWORD=admission_password

JWT_SECRET=change-me-change-me-change-me-change-me
